<h1>Wayfarer</h1>
<div class="valign-wrapper">
	<h6 class="display-4">A travel community for users to share city-specific posts about their favorite locations around the world.</h6>
	
	<a class="btn btn-primary btn-lg" href="/cities" role="button" style="margin: 25px;">Enter</a>
	</div>
	<!-- <p class="lead">This app is designed to walk us through the process of implementing local session / cookie-based authentication.</p> -->
	<hr class="my-4">
	<!-- <p>PassportJS is a great Express middleware package to implement several methods of authentication.</p> -->
</div>
<img src="https://images.unsplash.com/photo-1539025833835-b6f1190c37d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ef943d3295f470796c2e2d44fbae29d8&auto=format&fit=crop&w=800&q=60" style="width: 715px; height: 700px;">
<img src="https://images.unsplash.com/photo-1539066997697-535d0233280c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=197105bc26776d5206e167073a95dd2e&auto=format&fit=crop&w=800&q=60" style="width: 715px; height: 700px;">
<div>
<!-- <a class="btn btn-primary btn-lg" href="/cities" role="button">Check It Out</a> -->
</div>
<style>
	h1, h6 {
		text-align: center;
	}

	img {
		height: 1000px;
		width: 1000px;
	}

	

	/* .btn-primary {
		color: #84ffff;
	} */
</style>
