/* h1 {
    font-family: 'Amatic SC', cursive;
} */
body {
    background: darkgray;
}

nav {
    color: #fff;
    background-color:#18ffff;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

.btn, .btn-large, .btn-small {
    background-color: #80deea;
}

.col-sm-6 {
    background-color: white;
    margin-top: 115px;
    border-radius: 25px;
    background: #73AD21;
    border-radius: 25px;
    background-image: url(paper.gif);
    background-position: left top;
    padding: 20px; 
    
}

.col-sm-5 {
    background-color: white;
    margin-top: 115px;
    border-radius: 30px;
    padding: 15px; 
}

.col-sm-7 {
    background-color: white;
    margin-top: 115px;
    border-radius: 30px;
    padding: 15px; 
}
    
.col-sm-4 {
    background-color: white;
    margin-top: 115px;
    border-radius: 30px;
    padding: 15px; 
}

.col-sm-3 {
    background-color: white;
    margin-top: 115px;
    border-radius: 30px;
    padding: 15px; 
}